<%- layout('layout') %>
<br>
<div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Academias</h2>
    <p>La UTNG inició su participación en el programa académico de Cisco en el año 2000 como academia regional y actualmente somos Centro de Entrenamiento de Instructores. Es una iniciativa global sin fines de lucro de la empresa Cisco Systems que promueve el estudio de las Tecnologías de la Información específicamente en el área de las redes y las telecomunicaciones, ofrece materiales didácticos de calidad con un enfoque e-learning que facilita el autoaprendizaje por parte de los estudiantes. Los conocimientos que se imparten, están alineados con las certificaciones de reconocimiento mundial: Cisco Certified Network Associate (CCNA), Cisco Certified Network Profesional (CCNP), A+, entre otras. Este programa actualmente está implementado en más de 10,000 academias pertenecientes a diferentes instituciones educativas de 165 países.</p>
</div>

      <img src="/img/Cisco2018.png" alt="" class="img-fluid">
      
    </div>
</section>