<%- layout('layout') %>
<%- partial('partials/help') %>

<div class="row">
    <div class=" compactor">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2 class="text-center">Proceso de admisión TSU</h2>
        </div>
        <img src="https://www.utng.edu.mx/assets/principal/aspirantes/banner/proceso_de_inscripcion_2020-2.jpg" alt="" class="shadow rounded img-fluid">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <p>Bienvenido al proceso de registro para el proceso de admisión 2020, de la Universidad Tecnológica del Norte de Guanajuato. Información para alumnos que egresan del nivel bachillerato y con la oportunidad de ingresar al nivel de Técnico Superior Universitario.</p>
                <div class="row justify-content-center mb-2">
                    <div class="col-3">
                        <a href="https://www.utng.edu.mx/assets/revistas/oferta_educativa/index.html" class="btn btn-info float-center" target="_blank">..::Conoce la oferta educativa::..</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="text-center">Periodo de venta de fichas</h5>
                                <h6 class="text-center">Del 10 de febrero al 4 de julio</h6>
                                <p class="text-center">horario de atención lunes a viernes de 9:00 a 17:00 horas sábados de 9:00 a 14:00 horas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Modalidades de estudio</h2>
                <div class="table-responsive">
                    <table class="table table-bordered w-75 mx-auto">
                        <tbody><tr class="bg-primary text-white text-center">
                            <th class="w-25">Modalidad</th>
                            <th width="15%">Duración</th>
                            <th>Horario</th>
                        </tr>
                        <tr class="table-info">
                            <td>Escolarizado Turno Matutino</td>
                            <td>6 cuatrimestres</td>
                            <td>Clases de lunes a viernes de 8:00 a 16:00 hrs.</td>
                        </tr>
                        <tr>
                            <td>Escolarizado Turno Vespertino</td>
                            <td>6 cuatrimestres</td>
                            <td>Clases de lunes a viernes de 14:00 a 21:00 hrs. (Disponible
                                únicamente en los programas educativos de:
                                Mecatrónica Área Instalaciones Eléctricas
                                Eficientes y
                                Diseño Digital Área Animación).</td>
                        </tr>
                        <tr class="table-info">
                            <td>Semiescolarizado</td>
                            <td>9 cuatrimestres</td>
                            <td>Clases viernes de 16:00 a 22:00 hrs y sábado de 8:00 a
                                15:00 hrs</td>
                        </tr>
                    </tbody></table>
                </div>
                <div class="alert alert-primary w-75 mx-auto" role="alert">
                    <b>Nota:</b> Es importante que conserves copia de tu
                    documentación, ya que se resguardara en la Institución
                    y te será entregada hasta que culmines tu formación
                    profesional. <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Proceso de solicitud de admisión</h3>
                <div class="accordion mx-auto magic-left" id="accordionExample" style="opacity: 1; position: relative; left: 0px;">
                    <div class="card">
                        <div class="card-header bg-primary" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">PASO 1. REGISTRO
                                    DE DATOS PERSONALES</button>
                            </h2>
                        </div>
                
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                            <div class="card-body">
                                <p class="text-justify">
                                    <i class="fas fa-chevron-circle-right font-weight-bold"></i> Para
                                    iniciar tu proceso de admisión, te pedimos realices el
                                    registro de tus datos personales. Una vez capturados tus datos,
                                    espera a recibir un correo de confirmación en el transcurso
                                    del día.
                                </p>
                                <p class="text-center">
                                    <a href="https://siga.utng.edu.mx/at/PrefichaAspirantes.action" target="_blank" class="btn btn-success shadow"> Registra tus datos
                                    </a>
                                </p>
                                <div class="alert alert-primary" role="alert">
                                    <p class="text-center font-weight-bold">Importante</p>
                                    <ul class="list-group">
                                        <li class="list-group-item bg-transparent border-0"><i class="fas fa-arrow-alt-circle-right" style="color: #FF8200;"></i>
                                            El correo que recibas, es la confirmación de que tu
                                            registro se realizó correctamente.</li>
                                        <li class="list-group-item  bg-transparent border-0"><i class="fas fa-arrow-alt-circle-right" style="color: #FF8200;"></i>
                                            En caso de NO RECIBIRLO, ponte en contacto vía correo
                                            electrónico a la siguiente cuenta: jsanchez@utng.edu.mx
                                            colocando tu nombre y la descripción
                                            detallada del problema que se te presenta.</li>
                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-primary" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">PASO 2. PAGO POR
                                    DERECHO A EXAMEN DE ADMISIÓN</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                            <div class="card-body">
                                <p class="text-justify">
                                    <i class="fas fa-chevron-circle-right font-weight-bold"></i>
                                    Realizar el pago por la cantidad de $269.00 (costo de la ficha) el
                                    cual se realizará en una sucursal de BANORTE.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-primary" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">PASO 3.
                                    REGISTRO Y ENTREGA DE DOCUMENTOS</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                            <div class="card-body">
                                <p class="text-justify">
                                    <i class="fas fa-chevron-circle-right font-weight-bold"></i>
                                    Entregar los documentos para obtener el pase de examen en el
                                    área Servicios Escolares edificio V. La solicitud de ficha
                                    se otorgará con la documentación completa.
                                </p>
                                <p class="font-weight-bold">Requisitos:</p>
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Copia de
                                        la clave CURP.</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Copia del
                                        acta de nacimiento formato reciente.</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Constancia
                                        Original de estudios con promedio si actualmente estas estudiando
                                        el sexto semestre de bachillerato.</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Si ya lo
                                        concluiste tú bachillerato copia de certificado</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> 2
                                        Fotografías tamaño infantil.</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Recibo de
                                        pago por derecho a examen de admisión.</li>
                                    <li class="list-group-item"><i class="fas fa-arrow-alt-circle-right text-primary"></i> Constancia
                                        laboral (modalidad semiescolarizada).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-primary" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">PASO 4.
                                    ENTREVISTA PERSONAL Y TEST PSICOMÉRICO</button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-justify">
                                    <i class="fas fa-chevron-circle-right font-weight-bold"></i>
                                    Después de obtener el pase al examen pasaras al departamento
                                    psicopedagógico edificio C planta baja.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info magic-left mx-auto mt-2" role="alert" style="opacity: 1; position: relative; left: 0px;">
                    <p class="text-center font-weight-bold">GUÍA DE ESTUDIO EXANI II</p>
                    <div class="col-sm-12">
                        <p class="text-center">
                            <i class="fas fa-long-arrow-alt-right"></i> Puedes descargar la
                            guía de estudios en la siguiente página: <a href="https://www.ceneval.edu.mx/documents/20182/163432/Gu%C3%ADa+EXANI-II_25a.+edici%C3%B3n+2020.pdf/d3332d56-ff5f-48fa-8bd9-fa2933d01d88" target="_blank" class="btn btn-success"> GUÍA EXANI </a>
                        </p>
                    </div>
                    <p class="text-center font-weight-bold">COSTOS</p>
                    <div class="table-responsive">
                        <table class="table table-borderless w-50 mx-auto">
                            <tbody><tr>
                                <td>Ficha para examen de admisión TSU</td>
                                <td>$ 269.00</td>
                            </tr>
                            <tr>
                                <td>Inscripción inicial o de nuevo ingreso</td>
                                <td>$ 466.00</td>
                            </tr>
                            <tr>
                                <td>Inscripción cuatrimestral</td>
                                <td>$ 1035.00</td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>