<%- layout('layout') %>
<div class="row">
    <div class="col-12">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2 class="text-center">Capacitación y adiestramiento</h2>
        </div>
        <img src="/img/capacitacion.png" alt="" class="img-fluid rounded shadow">
    </div>
</div>
<div class="btn-group btn-lg btn-block" role="group">
    <a class="btn btn-outline-info" data-toggle="collapse" href="#capacitacion" role="button" aria-expanded="false" aria-controls="capacitacion">Servicios de capacitación</a>
    <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#areas" aria-expanded="false" aria-controls="areas">Áreas Teátricas</button>
</div>

<div class="collapse" id="capacitacion">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <p>El Departamento de Educación Continua ofrece los siguientes servicios de capacitación:</p>
                <ul class="ml-4">
                    <li type="disc">Conferencias</li>
                    <li type="disc">Talleres</li>
                    <li type="disc">Cursos</li>
                    <li type="disc">Seminarios</li>
                    <li type="disc">Diplomados</li>
                </ul>
            </div>
        </div>      
    </div>
</div>
<div class="collapse" id="areas">
    <div class="card card-body mt-2">
      <div class="container">
        <p>El Departamento de Educación Continua ofrece los siguientes servicios de capacitación:</p>
        <ol class="ml-4">
          <li value="1">Desarrollo Humano</li>
          <li>Desarrollo organizacional</li>
          <li>Comunicación</li>
          <li>Idiomas</li>
          <li>Tecnologías de la información y comunicación</li>
          <li>Áreas económico-administrativas</li>
          <li>Industrial, eléctrica y electrónica</li>
          <li>Ecología y cuidado del medio ambiente</li>
          <li>Salud física</li>
        </ol>
      </div>
    </div>
</div>

<hr>
<div class="card-deck">
    <div class="card" style="width:100%">
      <img class="card-img-top" src="/img/ingles.jpg" alt="Card image" height="300px" width="auto">
      <div class="card-body">
        <h4 class="card-title">Cursos de inglés</h4>
        <p class="card-text">Periodos de inscripciones:</p>
        <p class="card-text">Enero-Marzo-Junio-Agosto-Octubre</p>

      </div>
    </div>
    <br>

    <div class="card" style="width:100%">
      <img class="card-img-top" src="/img/guanajuato.png" alt="Card image" height="300px" width="auto">
      <div class="card-body">
        <h4 class="card-title">Servicios en el estado</h4>
        <p class="card-text">La UTNG brinda servicios a la medida de las necesidades y requerimientos de las
          empresas u organismos, dentro y fuera del campus, atendiendo diversos municipios del estado de
          Guanajuato.</p>

      </div>
    </div>
</div>
<hr>
<div class="section-title aos-init aos-animate mt-2" data-aos="fade-up">
    <h2>Galeria</h2>
    <p>Conoce los espacios de la universidad</p>
</div>
<section id="more-services" class="more-services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card aos-init aos-animate" style="background-image: url(&quot;/img/audi.jpg&quot;);"
            data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title">Auditorio</h5>
              <p class="card-text">Contamos con un auditorio para cualquier evento</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card aos-init aos-animate" style="background-image: url(&quot;/img/sal1.jpg&quot;);"
            data-aos="fade-up" data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title"><a href="">Sala 1</a></h5>
              <p class="card-text">Esta es nuestra sala de conferencias</p>

            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card aos-init aos-animate" style="background-image: url(&quot;/img/sal2.jpg&quot;);"
            data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title"><a href="">Sala 2</a></h5>
              <p class="card-text">Esta es nuestra sala de conferencias</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card aos-init aos-animate" style="background-image: url(&quot;/img/au2.jpg&quot;);"
            data-aos="fade-up" data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title"><a href="">Auditorio </a></h5>
              <p class="card-text">Contamos con un auditorio para cualquier evento</p>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>