<%- layout('layout') %>
<br>
<img src="/img/profesBanner.jpg" alt="" class="img-fluid shadow">

<section id="services" class="services">
  <div class="container">

    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Cuerpos Académicos</h2>
      <p>¿Qué es un cuerpo académico?</p>
      <p>Los cuerpos académicos (CA) son grupos de profesores de tiempo completo que comparten una o varias Líneas Innovadoras de Investigación Aplicada o Desarrollo Tecnológico (LIIADT), las cuales se orientan principalmente a la asimilación, desarrollo, transferencia y mejora de tecnologías y procesos para apoyar al sector productivo y de servicios de una región en particular. Además atienden los programas educativos de la institución y comparten objetivos y metas académicas comunes.</p>
    </div>

    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Cuerpos académicos reconocidos por PROMEP</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><ion-icon size = "large" name="bar-chart-outline"></ion-icon></div>
          <h4 class="title"><a href="">Desarrollo de negocios</a></h4>
          <p class="description">LIIADT que cultiva: <br>Diagnóstico Económico Regional.<br>Contacto: Lic. María del Carmen Lira Mejía
          <br>E-mail: mcarmenlira@utng.edu.mx <br>Teléfono: 418 18 25500 ext. 1373</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><ion-icon size = "large" name="code-slash"></ion-icon></div>
          <h4 class="title"><a href="">Tecnologías de la información y Desarrollo de Software</a></h4>
          <p class="description">LIIADT que cultiva: <br>Desarrollo de Software. <br>Desarrollo Multimedia y Negocios Electrónicos.
          <br> Desarrollo de Redes y Telecomunicaciones.<br>Contacto: Ing. Apolinar Trejo Cuevas<br>E-mail: apolinartrejo@utng.edu.mx
        <br>	Teléfono: 418 18 25500 ext. 1387</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><ion-icon size = "large" name="analytics-outline"></ion-icon></div>
          <h4 class="title"><a href="">Administración de la cadena de valor</a></h4>
          <p class="description">LIIADT que cultiva:<br>Cadena de Suministro.<br>Optimización de Proceso.
          <br>Contacto: Ing. Rodolfo Hernández Onofre<br>E-mail: rodolfohernandez@utng.edu.mx<br>Teléfono: 418 18 25500 ext. 1345</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><ion-icon size = "large"name="construct-outline"></ion-icon></div>
          <h4 class="title"><a href="">Sistemas alternos y mecatrónica</a></h4>
          <p class="description">LIIADT que cultiva:<br>Sistema de Ahorro de Energía Eléctrica Empleando Energías Limpias.
          <br>Contacto: Ing. Marcos Avalos Salazar<br>E-mail: marcossalazar@utng.edu.mx<br>Teléfono: 418 18 25500 ext.1345</p>
        </div>
      </div>

    </div>

  </div>
</section>