<%- layout('layout') %>

<div class="card mt-3 mb-3 rounded">
    <img src="/img/btrabajo.jpg" alt="" class="img-fluid">
    <div class="card-body">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="eg-tab" data-toggle="tab" href="#eg" role="tab" aria-controls="eg" aria-selected="true">Seguimiento de egresados y bolsa de trabajo</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="cap-tab" data-toggle="tab" href="#cap" role="tab" aria-controls="cap" aria-selected="false">Capacitación y adiestramiento</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="eg" role="tabpanel" aria-labelledby="eg-tab">
                <div class="row">
                    <div class="col-8 mt-2">
                        <p>En el área de Seguimiento de Egresados y bolsa de trabajo damos seguimiento a los egresados para obtener información sobre:</p>
                        <ul>
                            <li>La satisfacción de los servicios que te brindamos.</li>
                            <li>El nivel de exigencia de los empleadores en el desempeño profesional de los egresados.</li>
                            <li>Realizar detecciones de necesidades de capacitación en tu ámbito profesional y ofrecerte cursos y talleres.</li>
                            <li>Conocer tu trayectoria laboral.</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/alumna1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Servicios</h4>
                                <ul>
                                    <li>Asesoría
                                        <ul>
                                            <li>Talleres para buscadores activos de empleo</li>
                                            <li>Revisión de CV Tip’s para búsqueda de empleo</li>
                                            <li>Bolsas de trabajo en línea</li>
                                            <li>Difusión de programas de apoyo al autoempleo</li>
                                        </ul>
                                    </li>
                                    <li>Apoyo para la postulación de vacantes registradas en BT.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>A través de los siguientes estudios:</h4>
                                <ul>
                                    <li>Colocación en el primer empleo después de egresar y satisfacción de los servicios recibidos.</li>
                                    <li>Seguimiento a egresados y detección de necesidades de capacitación.</li>
                                    <li>Estudio de trayectoria laboral a dos años de egreso.</li>
                                    <li>Estudio de satisfacción de empleadores.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Bolsa de Trabajo</h3>   
                                <ul class="list-group">
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/occmundial.jpg" alt="UTNG" class="img-fluid" width="40"> <span class="title">Occmundial</span>
                                        <a href="https://www.occ.com.mx/" class="secondary-content" > <i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img width="40" src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/sne.png" alt="UTNG" class="img-fluid"> <span class="title">Servicio Nacional
                                            de Empleo</span> <a href="https://www.empleo.gob.mx/swb/empleo" class="secondary-content"><i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/computrabajo.png" alt="UTNG" class="img-fluid" width="40"> <span class="title">Computrabajo</span>
                                        <a href="http://www.computrabajo.com.mx/" class="secondary-content"> <i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/bumeran.jpg" alt="UTNG" class="img-fluid" width="40"> <span class="title">Bumeran</span> <a href="http://www.bumeran.com.mx/empleos-en-guanajuato.html" class="secondary-content"><i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/jobrapido.jpg" alt="UTNG" class="img-fluid" width="40"> <span class="title">JobRapido</span>
                                        <a href="http://mx.jobrapido.com/" class="secondary-content"> <i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/jobisjob.png" alt="UTNG" class="img-fluid" width="40"> <span class="title">JobisJob</span> <a href="https://www.jobisjob.com.mx/" class="secondary-content"> <i class="fas fa-info-circle"></i></a></li>
                                    <li class="list-group-item avatar"><img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/mitula.jpg" alt="UTNG" class="img-fluid" width="40"> <span class="title">Mitula</span> <a href="www.mitula.com" class="secondary-content"> <i class="fas fa-info-circle"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Politicas y requisitos para bolsa de trabajo</h3>
                                <ul>
                                    <li>Realizar el registro de manera presencial o vía correo electrónico, llevar tu CV y una fotografía tamaño infantil reciente.</li>
                                    <li>Acudir a las actividades convocadas por Bolsa de Trabajo y Seguimiento de Egresados.</li>
                                    <li>Tener disponibilidad para trabajar tiempo completo</li>
                                    <li>Tener disponibilidad para establecerse en el lugar de la vacante si ésta así lo requiere</li>
                                </ul>
                                <ul class="list-group mt-2">
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/el-tamano-si-importa-7-tips-para-reducir-la-extension-de-tu-cv/#.WO6Xu_k1_ce">
                                            Consejos para reducir tu CV y hacerlo más atractivo.</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/cosas-en-tu-cv-que-dicen-no-me-contrates/#.WO6ZVPnhDcc">Lo
                                            que debes corregir en tu CV ahora mismo</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/redes-sociales-en-tu-cv-si-o-no/#.WO6ZJfnhDcc">Redes
                                            sociales en tu CV ¿Si o No?</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/preparate-para-tu-primera-entrevista-de-trabajo-del-2016/#.WO6ZK_nhDcc">Prepárate
                                            para tu primera entrevista laboral</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/preparate-para-brillar-en-una-entrevista-de-panel/#.WO6ZjvnhDcc">Prepárate
                                            para una entrevista de panel</a></li>
                                    <li class="list-group-item"><a href="http://www.elfinanciero.com.mx/power-tools/las-10-preguntas-mas-dificiles-de-una-entrevista-laboral.html">Las
                                            10 preguntas más difíciles de una entrevista.</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/7-dudas-sobre-los-examenes-psicometricos/#.WO6ZyvnhDcc">7
                                            dudas acerca de los exámenes psicométricos</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/trabajo-voluntario-el-plus-que-tu-perfil-profesional-necesita/#.WO6ZL_nhDcc">Trabajo
                                            voluntario: el plus que tu perfil profesional necesita</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/consejos-reales-para-tu-primer-trabajo/#.WO6ZN_nhDcc">Consejos
                                            para tu primer trabajo</a></li>
                                    <li class="list-group-item"><a href=" http://blog.occ.com.mx/90-de-los-mexicanos-estan-de-acuerdo-con-estudiar-y-trabajar-al-mismo-tiempo/#.WO6Xvvk1_cd">Trabaja
                                            sin dejar de estudiar</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/los-7-trabajos-mas-contratados-en-el-2016/#.WO6ZNfnhDcc">Los
                                            7 trabajos más contratados del 2016</a></li>
                                    <li class="list-group-item"><a href="http://blog.occ.com.mx/marca-personal-en-la-vida-laboral/#.WO6ZXPnhDcc">
                                            Marca personal en la vida laboral</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="cap" role="tabpanel" aria-labelledby="cap-tab">...</div>
        </div>
    </div>
</div>

<style>
    
</style>