<% layout('layout') %>
<!--Contenido-->
<div class="container-fluid mt-2">
    <%- partial('partials/carrusel') %>
    <div class="row mt-2">
        <div class="container">
            <div class="row">
                <div class="container">
                    <%- partial('partials/carruselNoticias',noticias) %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Contenido-->
