<% layout('layout') %>
<%- partial('partials/help') %>
<!--Contenido-->
<div class="container-fluid mt-2">
    <%- partial('partials/carrusel') %>
    <div class="row mt-2">
        <div class="container">
            <div class="row">
                <div class="container">
                    <%- partial('partials/carruselNoticias',noticias) %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Contenido-->

<!--Script help-->
<script>
    function showHelp() {
      $('#helperModal').modal()
    }
  </script>
  <!--Fin script-->
  
  <!--Modal help-->
  <div class="modal modal-centered fade" tabindex="-1" id="helperModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ayuda</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h5 class="text-center">¿No encontraste lo que necesitabas?</h5>
                <p>Visita nuestro <a href="/foro">foro de mejora continua</a>, donde encontraras las dudas más frecuentes y
                  posibles respuestas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal help-->
