<%- layout('layout') %>
<%- partial('partials/help') %>
<br>
<div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Investigaciones</h2>
</div>

<img src="/img/investiacionesBanner.jpg" alt="" class="img-fluid">

<div class="container-table100">
    <div class="abs-center">
        <table class="table table-responsive table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th>Investigación</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th>Puesto y área</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Retos de Una Sociedad Global 2014</td>
                    <td>José de Jesús Eduardo Barrientos Ávalos</td>
                    <td>01/Enero/2014</td>
                    <td>Profesor, Área TIC's</td>
                    <td><a href="https://media.utng.edu.mx/index.php/s/XTPd9j5MDLq0nD3">Descargar investigación</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>

<!--Script help-->
<script>
    function showHelp() {
        $('#helperModal').modal()
    }
</script>
<!--Fin script-->

<!--Modal help-->
<div class="modal modal-centered fade" tabindex="-1" id="helperModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ayuda</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">¿No encontraste lo que necesitabas?</h5>
                            <p>Visita nuestro <a href="/foro">foro de mejora continua</a>, donde encontraras las dudas más
                                frecuentes y
                                posibles respuestas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin modal help-->