<%- layout('layout') %>
<br>
<div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Investigaciones</h2>
</div>

<img src="/img/investiacionesBanner.jpg" alt="" class="img-fluid">
