<%- layout('layout') %>
<br>
<div class="section-title aos-init aos-animate" data-aos="fade-up">
    <h2>Investigaciones</h2>
</div>

<img src="/img/investiacionesBanner.jpg" alt="" class="img-fluid">

<div class="container-table100">
    <div class="abs-center">
        <table class="table table-responsive table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th>Investigación</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th>Puesto y área</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Retos de Una Sociedad Global 2014</td>
                    <td>José de Jesús Eduardo Barrientos Ávalos</td>
                    <td>01/Enero/2014</td>
                    <td>Profesor, Área TIC's</td>
                    <td><a href="https://media.utng.edu.mx/index.php/s/XTPd9j5MDLq0nD3">Descargar investigación</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section> 
