<%- layout('layout') %>

<div class="row">
    <div class="col-12">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2 class="text-center">Seguimiento de Egresados</h2>
        </div>
        <img src="/img/egresa2.jpg" alt="" class="img-fluid rounded shadow">
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 mt-2">
                <p>En el área de Seguimiento de Egresados damos seguimiento a los egresados para obtener información sobre:</p>
                <ul class="ml-4">
                    <li>La satisfacción de los servicios que te brindamos.</li>
                    <li>El nivel de exigencia de los empleadores en el desempeño profesional de los egresados.</li>
                    <li>Realizar detecciones de necesidades de capacitación en tu ámbito profesional y ofrecerte cursos y talleres.</li>
                    <li>Conocer tu trayectoria laboral.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="https://www.utng.edu.mx/assets/principal/servicios/bolsa/alumna1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Servicios</h4>
                        <ul class="ml-4">
                            <li>Asesoría
                                <ul>
                                    <li>Talleres para buscadores activos de empleo</li>
                                    <li>Revisión de CV Tip’s para búsqueda de empleo</li>
                                    <li>Bolsas de trabajo en línea</li>
                                    <li>Difusión de programas de apoyo al autoempleo</li>
                                </ul>
                            </li>
                            <li>Apoyo para la postulación de vacantes registradas en BT.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>A través de los siguientes estudios:</h4>
                        <ul class="ml-4">
                            <li>Colocación en el primer empleo después de egresar y satisfacción de los servicios recibidos.</li>
                            <li>Seguimiento a egresados y detección de necesidades de capacitación.</li>
                            <li>Estudio de trayectoria laboral a dos años de egreso.</li>
                            <li>Estudio de satisfacción de empleadores.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>