body {
    background-color: #f8f9fa;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: #004981;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    z-index: 2;
}

.fab-inicio i{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.fab-container ul{
    position: absolute;
    bottom: 5px;
    right: .1px;
    background: #004981;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.fab-container.active ul{
    bottom: 70px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.fab-container li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
    color: #fff;
}

.fab-container.active li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
    color: #fff;
}

.fab-container ul li:hover {
    background-color: #034679;
    font-weight: 600;
}

.fab-container ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fab-container ul li i {
    transform: scale(0.8);
}

.fab-container ul li:hover i{
    opacity: 0.8;
}

hr.pulido{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.contact .info-box {
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
  }

  .about-lists {
    padding: 40px;
    background-color: white;
  }
  
  .about-lists .row {
    overflow: hidden;
  }
  
  .about-lists .content-item {
    padding: 40px;
    border-left: 1px solid #d9e8f4;
    border-bottom: 1px solid #d9e8f4;
    margin: -1px;
  }

  .about-lists .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #9eccf4;
  }
  .about-lists .content-item h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
  }

  .about-lists .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  
  .services .icon-box::before {
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .services .icon-box:hover::before {
    background: #3498db;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  
  .services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
  }
  
  .services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
  }
  
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover .title a, .services .icon-box:hover .description {
    color: #fff;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #3498db;
  }
  
  
  a:hover {
    color: #5faee3;
    text-decoration: none;
  }
  
   h2 {
    font-family: "Raleway", sans-serif;
  }
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f7fbfe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  
  .section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  
  .section-title h2::before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  
  .section-title p {
    margin: 15px 0 0 0;
  }

  .more-services {
    padding-top: 20px;
  }
  
  .more-services .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .more-services .card-body {
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
  }
  
  .more-services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .more-services .card-title a {
    color: #222222;
  }
  
  .more-services .card-text {
    color: #5e5e5e;
  }
  
  .more-services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
  }
  
  .more-services .read-more a:hover {
    text-decoration: underline;
  }
  
  .more-services .card:hover .card-body {
    background: #3498db;
  }
  
  .more-services .card:hover .read-more a, .more-services .card:hover .card-title, .more-services .card:hover .card-title a, .more-services .card:hover .card-text {
    color: #fff;
  }