<!--FAB-->
<div class="fab-container" onclick="actionToggle()">
    <div class="fab-inicio">
        <i class="fas fa-headset " style="color: white;"></i>
    </div>
    <ul>
        <li>
            <i class="fab fa-facebook-f" style="color: white;"></i><span class="ml-2">Facebook</span>
        </li>
        <li>
            <i class="fab fa-twitter" style="color: white;"></i><span class="ml-2">Twitter</span>
        </li>
        <li>
            <i class="fab fa-youtube" style="color: white;"></i><span class="ml-2">YouTube</span>
        </li>
        <li>
            <i></i>
            H.Consejo
        </li>
        <li>
            <i class="fas fa-chalkboard-teacher" style="color: white;"></i><span class="ml-2">Plataforma educativa</span>
        </li>
        <li>
            <i></i>
            SGC
        </li>
        <li>
            <i></i>
            SIGA
        </li>
    </ul>
</div>
<!--FIN FAB-->