<footer class="page-footer" style="background-color: #00759c;">
    <div class="text-light">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6">
                    <h5>Acerca de nosotros</h5>
                    <hr class="bg-light mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-light">Filosofia institucional</a></li>
                                <li><a href="#" class="text-light">Directorio</a></li>
                                <li><a href="#" class="text-light">H. Consejo</a></li>
                                <li><a href="#" class="text-light">Quejas y Sugerencias</a></li>
                                <li><a href="#" class="text-light">Política Ambiental</a></li>
                                <li><a href="#" class="text-light">Semblanza Cronológica UTNG</a></li>
                                <li><a href="#" class="text-light">Normateca</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-light">Norma de igualdad laboral y no discriminación</a></li>
                                <li><a href="#" class="text-light">Calidad Educativa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h5>Docentes</h5>
                    <hr class="bg-light">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Cuerpos Académicos</a></li>
                        <li><a href="#" class="text-light">Academias</a></li>
                        <li><a href="#" class="text-light">Investigaciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>