<div class="">
    <button type="button" id="helper" class="button-help" onclick="showHelp()">
        <span>¿Necesitas ayuda? </span><i class="fas fa-info-circle"></i>
    </button>
</div>

<style>
    .button-help {
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: white;
        background: #0d7a64;
        padding: 12px;
        border-radius: 50px;
        border: none;
        transition: .2s;
        box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.34);
        z-index: 100;
    }

    .button-help:hover {
        transition: .2s;
        background-color: #11997e;
    }
</style>