<div class="btn-helper" for="help">
    <a href="#" id="help">
        <span>¿Necesitas ayuda? </span><i class="fas fa-info-circle"></i>
    </a>
</div>

<style>
    .btn-helper {
        position: fixed;
        right: 10px;
        bottom: 10px;
        border-radius: 20px;
        background: #0d7a64;
        color: white;
        padding: 10px;
        z-index: 100;
        -webkit-box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.34);
        -moz-box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.34);
        box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.34);
    }

    .btn-helper a{
        text-decoration: none;
        color: #fff;
        margin: 5px;
    }

    

</style>