<div class="container mt-2 sticky-top" id="topper">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm rounded-pill" style="background-color: #004981;" id="barra">
        <a href="/" class="navbar-brand">
            <img src="/normal.svg" alt="Logo" width="200" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="btntoggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="aspirantesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aspirantes</a>
                    <div class="dropdown-menu" aria-labelledby="aspirantesDropdown">
                        <a href="/aspirantes" class="dropdown-item">¿Porqué estudiar UTNG?</a>
                        <a href="/aspirantes1" class="dropdown-item">Modelo Educativo</a>
                        <a href="/admisionTsu" class="dropdown-item">Proceso de admisión TSU</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="ofertaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta Educativa</a>
                    <div class="dropdown-menu" aria-labelledby="ofertaDropdown">
                        <a href="#" class="dropdown-item">Campus Dolores</a>
                        <a href="#" class="dropdown-item">Campus Victoria</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="comunidadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comunidad UTNG</a>
                    <div class="dropdown-menu" aria-labelledby="comunidadDropdown">
                        <h2 class="dropdown-header">Estudiantes</h2>
                        <a href="#" class="dropdown-item">Becas</a>
                        <h2 class="dropdown-header">Egresados</h2>
                        <a href="/bolsaTrabajo" class="dropdown-item">Bolsa de trabajo</a>
                        <a href="/seguimientoE" class="dropdown-item">Seguimiento de Egresados</a>
                        <a href="/capacitacion" class="dropdown-item">Capacitación y adiestramiento</a>
                        <h2 class="dropdown-header">Docentes</h2>
                        <a href="/cuerposac" class="dropdown-item">Cuerpos Academicos</a>
                        <a href="/academias" class="dropdown-item">Academias</a>
                        <a href="/investigaciones" class="dropdown-item">Investigaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="serviciosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="serviciosDropdown">
                        <a href="#" class="dropdown-item">Agricultura Protegida</a>
                        <a href="#" class="dropdown-item">Seguimiento de Egresados y Bolsa de trabajo</a>
                        <a href="#" class="dropdown-item">Capacitación y adiestramiento</a>
                        <a href="#" class="dropdown-item">Desarrollo de software</a>
                        <a href="#" class="dropdown-item">Incubación de empresas</a>
                        <a href="#" class="dropdown-item">Servicios empresariales</a>
                        <a href="#" class="dropdown-item">Centro de evaluación</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fab fa-accessible-icon"></i></a>
                </li>
                <li class="nav-item dropdown d-md-none">
                    <a href="#" class="nav-link dropdown-toggle" id="enlacesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enlaces internos</a>
                    <div class="dropdown-menu" aria-labelledby="enlacesDropdown">
                        <a href="#" class="dropdown-item">Plataforma Educativa</a>
                        <a href="#" class="dropdown-item">H. Consejo</a>
                        <a href="#" class="dropdown-item">SIGA</a>
                        <a href="#" class="dropdown-item">SGC</a>
                        <a href="#" class="dropdown-item">Facebook</a>
                        <a href="#" class="dropdown-item">Twitter</a>
                        <a href="#" class="dropdown-item">Youtube</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    if($(window).width()<=768){
        $('#topper').removeClass('container');
        $('#topper').removeClass('mt-2');
        $('#barra').removeClass('rounded-pill');
    }else{
        $(window).on('scroll',function () {
        if($(window).scrollTop()){
            $('#topper').removeClass('container');
            $('#barra').removeClass('rounded-pill');
        } else {
            $('#topper').addClass('container');
            $('#barra').addClass('rounded-pill');
        }
    });
    }
</script>