<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm sticky-top" style="background-color: #004981;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/normal.svg" alt="Logo" class="d-none d-sm-block" width="300" loading="lazy">
            <img src="/mini.svg" alt="Logo" class="d-block d-sm-none" width="60" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown m-2">
                    <a href="/" class="nav-link dropdown-toggle" id="inicioDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
                    <div class="dropdown-menu" aria-labelledby="inicioDropdown">
                        <a href="#" class="dropdown-item">Rector</a>
                        <a href="#" class="dropdown-item">Noticias</a>
                        <a href="#" class="dropdown-item">Convocatorias</a>
                        <a href="#" class="dropdown-item">Videos</a>
                        <a href="#" class="dropdown-item">Logros UTNG</a>
                        <a href="#" class="dropdown-item">Campus</a>
                        <a href="#" class="dropdown-item">Enlaces externos</a>
                        <a href="#" class="dropdown-item">Denuncia ante el comite</a>
                    </div>
                </li>
                <li class="nav-item dropdown m-2">
                    <a href="#" class="nav-link dropdown-toggle" id="carrerasDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carreras</a>
                    <div class="dropdown-menu" aria-labelledby="carrerasDropdown">
                        <a href="#" class="dropdown-item">Todas</a>
                    </div>
                </li>
                <li class="nav-item dropdown m-2">
                    <a href="#" class="nav-link dropdown-toggle" id="aspirantesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aspirantes</a>
                    <div class="dropdown-menu" aria-labelledby="aspirantesDropdown">
                        <a href="#" class="dropdown-item">¿Porqué estudiar en la UTNG?</a>
                    </div>
                </li>
                <li class="nav-item dropdown m-2">
                    <a href="#" class="nav-link dropdown-toggle" id="estudiantesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estudiantes</a>
                    <div class="dropdown-menu" aria-labelledby="estudiantesDropdown">
                        <a href="#" class="dropdown-item">Becas</a>
                    </div>
                </li>
                <li class="nav-item dropdown m-2">
                    <a href="#" class="nav-link dropdown-toggle" id="egresadosDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Egresados</a>
                    <div class="dropdown-menu" aria-labelledby="egresadosDropdown">
                        <a href="/egresados/1" class="dropdown-item">Bolsa de trabajo</a>
                        <a href="/egresados/2" class="dropdown-item">Capacitación y <br>adiestramiento</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--FIN NAVBAR-->